@tailwind base;
@tailwind components;
@tailwind utilities;

.lexical-text-editor a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.lexical-text-editor a:hover {
  color: #535bf2;
}

.lexical-text-editor {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175) transparent;
}

.lexical-text-editor::-webkit-scrollbar {
  width: 6px;
}

.lexical-text-editor::-webkit-scrollbar-track {
  background: transparent;
}

.lexical-text-editor::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175);
  border-radius: 3px;
}

.lexical-text-editor::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
}

.lexical-text-editor [contenteditable="true"] {
  outline: none;
}

.lexical-text-editor h1 {
  font-size: 32px;
  margin: 8px 0;
  font-weight: bold;
}

.lexical-text-editor h2 {
  font-size: 28.8px;
  margin: 8px 0;
  font-weight: bold;
}

.lexical-text-editor h3 {
  font-size: 25.6px;
  margin: 3.2px 0;
  font-weight: bold;
}

.lexical-text-editor h4 {
  font-size: 22.4px;
  margin: 3.2px 0;
  font-weight: bold;
}

.lexical-text-editor h5 {
  font-size: 19.2px;
  margin: 3.2px 0;
  font-weight: bold;
}

.lexical-text-editor h6 {
  font-size: 16px;
  margin: 3.2px 0;
  font-weight: bold;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #a5acb6 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a5acb6;
  border-radius: 9999px;
}
